/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    display: flex;
    gap: 4px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    border: 5px solid white;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

    /********** Navbar ***********/
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap : 20px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        gap : 68px;
        height: 100%;
    }

    nav ul li {
        list-style: none;
        height: 100%;
    }

    nav ul li a:hover {
        color: var(--main-color);
        border-top: 2px solid var(--main-color);
        padding-top: calc(1rem - 2px);
    }

    nav img {
        width:61px;
        height: 19px;
        align-self: center;
    }

    /******* Title ********/
    h1 {
        font-size: 22px;
    }

    form {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 377px;
        height: 49px;
    }

    .fa-location-dot {
        display: flex;
        justify-content: center;
        align-items: center;
        color : black;
        width: 13%;
        height: 100%;
        background-color: var(--main-bg-color);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    input {
        text-align: center;
        width: 51%;
        height: 100%;
        border: none;
        font-size: 16px;
        font-weight: bold;
    }

    input::placeholder {
        color: black; 
    }

    .search-btn {
        width: 35%;
        background-color: var(--main-color);
        color: white;
        font-weight: bold;
        padding: 15px 20px;
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 16px;
    }

    /****** Filters ***********/
    #flex-filters {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 50px;
        gap: 15px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #flex-filters div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 10px;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        padding: 0 19px 0 19px;
    }
    #flex-filters div:hover {
        background-color: var(--filter-bg-color);
    }

    #flex-filters div  a {
        color: black;
        font-weight: bold;
    }


/****** Main ***********/

    /****** Nombres de résultats ***********/
    #nb-results {
        display: flex;
    }

    #nb-results p {
        margin: 0;
        margin-left: 10px;
        margin-bottom: 35px;
    }
    /****** lodgements And Populaires ***********/
    .lodgements-and-populaires {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .lodgements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

        /****** lodgements ***********/
        .lodgements {
            width: 65%;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }


        .lodgements-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-between;
        }

        .lodgements a {
            width: calc((100% - 60px) / 3);
        }

        .lodgements-cards .card {
            display: flex;
            flex-direction: column;
            flex-basis: calc(33.333% - 40px); /* Ajustez la largeur pour tenir compte de l'espace entre les cartes */
            box-sizing: border-box;
        }

        .lodgements-cards .card-content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 15px;;
        }

        .lodgements-cards img {
            align-self: center;
            object-fit: cover;
            width: 100%;
            height: 136px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border: 5px;

        }
        .lodgements-cards .card-content p {
            font-size: 14px;
        }
        #display-more {
            font-weight: bold;
        }
        /****** Populaires ***********/
        .populaires {
            width: 32%;
        }

        .populaires-title,
        .lodgements-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .populaires-cards .card {
            display: flex;
            margin-top: 33px;
        }

        .populaires-cards img {
            width: 33%;
            height: 136px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        .populaires-cards .card-content {
            width: 67%;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
        }

        .populaires-cards .card-title,
        .lodgements-cards .card-title {
            margin-top: 10px;
            margin-bottom: 4px;
        }

        .populaires-cards .card-subtitle,
        .lodgements-cards .card-subtitle {
            margin: 0;
        }

        .populaires-cards .card-rating {
            margin-bottom: 5px;
        }


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .lodgements-and-populaires {
        flex-direction: column;
    }

    .lodgements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}